<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reservation.dao.UserReservationDao">

<insert id="newOrder">
insert into user_reservation values ( 
	#{reservation_number}, #{user_email}, #{user_name}, #{user_phone},
    #{vendor_email}, #{business_regi_num}, #{vendor_name}, #{vendor_phone},
    #{business_name}, #{zipcode}, #{basic_address}, #{detail_address},
    #{reservation_date}, #{reservation_use_date}, #{times}, #{times_hhmm}, 
    #{total_service_name}, #{total_service_price}, #{total_required_time},
    #{user_request_memo}, '2')
    
</insert>





<!-- 0916 vendor myorder 상태별 주문, 페이지적용 count --> <!-- 테스트중 -->
<select id="countVendorOrdersStatus" resultType="int">
select count(*) from user_reservation 
	where vendor_email=#{vendor_email} and business_regi_num=#{business_regi_num} and status = #{status}
</select>

<!-- 0916 vendor myorder 상태별 주문, 페이지적용 --> <!-- 테스트중 -->
<select id="selectAllVendorOrdersStatusAndPage" resultType="UserReservationDto">
<![CDATA[
select * from user_reservation 
	where vendor_email=#{vendor_email} and business_regi_num=#{business_regi_num} and status = #{status}
	order by reservation_number asc
	OFFSET (#{currPageNum} - 1) * 10 ROWS 
        FETCH NEXT 10 ROWS ONLY
        ]]>
</select>

<!-- 0913 vendor myorder용 위에 테스트중 되면 미사용예정 --> 
<select id="selectAllVendorOrdersNotInStatus" resultType="UserReservationDto">
select * from user_reservation 
	where vendor_email=#{vendor_email} and business_regi_num=#{business_regi_num} and status not in (#{status})
	order by reservation_number desc
</select>

<!-- 1입금대기/2입금완료/3이용완료/
     4(취소요청)이용자취소(회원요청,사업자승인필요)/
     5(취소완료)사업자취소(사업자요청,회원승인불필요)/6환불대기/7환불완료 -->
<!-- 0906 vendor가 취소요청 들어온거 승인해줄때 씀 -->
<update id="cancelOrderConfirm">
update user_reservation set status='5' where reservation_number=#{reservation_number} and status='4'
</update>

<!-- 0906 member가 이용완료처리할때 씀 -->
<update id="orderCompleted">
update user_reservation set status='3' where reservation_number=#{reservation_number}
</update>

<update id="tryCancelOrder">
update user_reservation set status='4' where reservation_number=#{reservation_number}
</update>

<select id="selectAllMyOrders" resultType="UserReservationDto">
select * from user_reservation where user_email=#{user_email}
</select>

<select id="selectOneMyOrder" resultType="UserReservationDto">
select * from user_reservation where reservation_number = #{reservation_number}
</select>

<update id="changeOrdersStatus">
update user_reservation set status=#{status} where reservation_number=#{reservation_number}
</update>




<!-- 대시보드 기능 관련 추가 sql 만든이: 오규원 추가일자:0905-->
<!-- - count -->
<select id="count_email">
select count(user_email) from user_reservation where status='3'
</select>
<select id="countVendorName">
select count(vendor_name) from user_reservation where vendor_name=#{vendor_name}
</select>
<select id="countBasicAddress">
select count(basic_address) from user_reservation where basic_address=#{basic_address}
</select>
<select id="countDetailAddress">
select count(detail_address) from user_reservation where detail_address=#{detail_address}
</select>
<select id="countServiceName" resultType="map">
select total_service_name,count(total_service_name) as Amount from user_reservation group by total_service_name
</select>
<select id="countTimeshhmm" resultType="map">
select times_hhmm,count(times_hhmm)as times_total from user_reservation group by times_hhmm order by times_hhmm asc
</select>
 <!-- - sum -->
 
<select id="sumServicePrice" resultType="map">
select vendor_name,sum(total_service_price) as total_price from user_reservation group by vendor_name
</select>


<!--
dto 수정 이전 sql 
<insert id="newOrder">
insert into user_reservation values ( 
    #{reservation_number}, #{user_email},
    #{vendor_email}, #{business_regi_num}, #{reservation_date}, 
    #{times}, #{service_name}, #{service_price}, #{zipcode}, 
    #{basic_address}, #{detail_address}, '1')
</insert>

 -->
</mapper>