<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reservation.dao.UserReservationDao">

<insert id="newOrder">
insert into user_reservation values ( 
	#{reservation_number}, #{user_email}, #{user_name}, #{user_phone},
    #{vendor_email}, #{business_regi_num}, #{vendor_name}, #{vendor_phone},
    #{business_name}, #{zipcode}, #{basic_address}, #{detail_address},
    #{reservation_date}, #{reservation_use_date}, #{times}, #{times_hhmm}, 
    #{total_service_name}, #{total_service_price}, #{total_required_time},
    #{user_request_memo}, '1')
</insert>

<!-- 0913 vendor myorder용 --> 
<select id="selectAllVendorOrdersNotInStatus" resultType="UserReservationDto">
select * from user_reservation where vendor_email=#{vendor_email} and business_regi_num=#{business_regi_num} and status not in (#{status})
</select>

<update id="tryCancelOrder">
update user_reservation set status='4' where reservation_number=#{reservation_number}
</update>

<!-- 0902 member myorder용 -->
<select id="selectAllMyOrders" resultType="UserReservationDto">
select * from user_reservation where user_email=#{user_email}
</select>

<select id="selectOneMyOrder" resultType="UserReservationDto">
select * from user_reservation where reservation_number = #{reservation_number}
</select>

<update id="changeOrdersStatus">
update user_reservation set status=#{status} where reservation_number=#{reservation_number}
</update>




<!-- 대시보드 기능 관련 추가 sql 만든이: 오규원 추가일자:0905-->
<!-- - count -->
<select id="count_email">
select count(user_email) from user_reservation where status='3'
</select>
<select id="countVendorName">
select count(vendor_name) from user_reservation where vendor_name=#{vendor_name}
</select>
<select id="countBasicAddress">
select count(basic_address) from user_reservation where basic_address=#{basic_address}
</select>
<select id="countDetailAddress">
select count(detail_address) from user_reservation where detail_address=#{detail_address}
</select>
<select id="countServiceName" resultType="map">
select total_service_name,count(total_service_name) as Amount from user_reservation group by total_service_name
</select>
<select id="countTimeshhmm" resultType="map">
select times_hhmm,count(times_hhmm)as times_total from user_reservation group by times_hhmm order by times_hhmm asc
</select>
 <!-- - sum -->
 
<select id="sumServicePrice" resultType="map">
select vendor_name,sum(total_service_price) as total_price from user_reservation group by vendor_name
</select>


<!--
dto 수정 이전 sql 
<insert id="newOrder">
insert into user_reservation values ( 
    #{reservation_number}, #{user_email},
    #{vendor_email}, #{business_regi_num}, #{reservation_date}, 
    #{times}, #{service_name}, #{service_price}, #{zipcode}, 
    #{basic_address}, #{detail_address}, '1')
</insert>

 -->
</mapper>