<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reservation.dao.UserDao">

<!-- 0905 email과name으로 회원찾기  pw변경용-->
<select id="selectEmailAndName" resultType="UserDTO">
select * from users where email=#{email} and name=#{name}
</select>
<!-- 0905 phone과name으로 회원찾기  pw변경용 -->
<select id="selectPhoneAndName" resultType="UserDTO">
select * from users where phone=#{phone} and name=#{name}
</select>
<!-- 0905 email과name으로 찾은 회원 pw 변경하기 -->
<update id="updatePwByEmailAndName">
update users set 
password=#{password}
where email=#{email} and name=#{name}
</update>
<!-- 0905 phone과name으로 찾은 회원 pw 변경하기 -->
<update id="updatePwByPhoneAndName">
update users set 
password=#{password}
where phone=#{phone} and name=#{name}
</update>

<update id="disableAccount" parameterType="com.reservation.dto.UserDto">
update users set enable='0' where email = #{email}
</update>

<insert id="insert">
insert into users (email,password,name,phone,enable)
values (#{email}, #{password}, #{name}, #{phone}, #{enable})
</insert>

<select id="selectAll" resultType="UserDTO">
select * from users
</select>

<select id="selectEmail" resultType="UserDTO">
select * from users where email=#{email}
</select>

<select id="selectPhone" resultType="UserDTO">
select * from users where phone=#{phone}
</select>

<select id="checkEmail" resultType="int">
select count(*) from users where email=#{email}
</select>

<select id="checkPhone" resultType="int">
select count(*) from users where phone=#{phone}
</select>

<update id="update">
update users set 
password=#{password}, name=#{name}, phone=#{phone}, enable=#{enable} where email=#{email}
</update>

<update id="updateEnable">
update users set enable=#{enable} where email=#{email}
</update>
<update id="mUpdate">
update users set 
name=#{name}, phone=#{phone} where email=#{email}
</update>

<!-- 사용중지 -->
<delete id="delete">
delete users where email=#{email}
</delete>
</mapper>