<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 사업자 한명의 스케줄이 등록되는 테이블
not in 0 , =1 정리필요 -->
<mapper namespace="com.reservation.dao.VendorReservationDao">

<insert id="insert"> 
insert into vendor_reservation values(#{email}, #{business_regi_num}, #{open_date}, #{times}, #{status_flag})
</insert>

<select id="selectAllEnableVendorsReservation" resultType="VendorReservationDto">
select * from vendor_reservation 
   where email=#{email} 
      and business_regi_num=#{business_regi_num} 
      and status_flag not in '0' 
   order by open_date 
</select>

<!-- 어떤 사업자의 영업중인 특정 일을 조회 (해당 일의 예약 가능한 시간대를 조회하기 위한 목적) -->
<select id="selectOneVendorsReservation" parameterType="VendorReservationDto" resultType="VendorReservationDto">
    select email, business_regi_num, 
        to_char(open_date, 'YYYY-MM-DD') as open_date, times, status_flag 
    from vendor_reservation 
    WHERE email = #{email} 
      AND business_regi_num = #{business_regi_num} 
      AND open_date = #{open_date} 
      AND status_flag NOT IN ('0')
</select>

<!-- 0905 어떤 사업자의 특정 일을 조회 (해당 일의 예약 가능한 시간대를 수정하기 위한 목적) -->
<select id="selectOneVendorsMyOneDayReservation" parameterType="VendorReservationDto" resultType="VendorReservationDto">
    SELECT * FROM vendor_reservation 
    WHERE email = #{email} 
      AND business_regi_num = #{business_regi_num} 
      AND open_date = #{open_date} 
</select>

<!-- 멤버가 특정 벤더 특정달 조회 (멤버가 특정 벤더 조회. 신규 예약의 의도로) -->
<!-- and open_date > sysdate 추가하면 지난날짜는 조회 안됨 -->
<select id="selectAllOneVendorsYourOneMonthReservations" resultType="VendorReservationDto">
select * from vendor_reservation
where email = #{email} 
	and business_regi_num = #{business_regi_num} 
    and status_flag = '1'
    and to_char(open_date, 'YYYY-MM') = #{open_date}
	order by open_date
</select>


<!-- 특정 벤더 특정달 조회 (벤더가 자기 자신 조회. 등록,수정의 의도로) -->
<select id="selectAllOneVendorsMyOneMonthReservations" resultType="VendorReservationDto">
select * from vendor_reservation
where email = #{email} 
	and business_regi_num = #{business_regi_num} 
    and to_char(open_date, 'YYYY-MM') = #{open_date}
	order by open_date
</select>

 <!-- (특정벤더 특정일 조회 달력에서)    ↙useremail아님 -->
<select id="selectOneOneVendorsMyOneDayReservation" resultType="VendorReservationDto">
select * from vendor_reservation 
where email = #{email} 
	and business_regi_num = #{business_regi_num} 
	and to_char(open_date, 'YYYY-MM-DD') = #{open_date}
	order by open_date
</select>


<!-- 0903	newOrder로 인한 vendor time update -->
<update id="newOrderOpenDateTimesUpdate">
   update vendor_reservation set times=#{times} 
   where email=#{email} 
   and business_regi_num=#{business_regi_num} 
   and open_date=#{open_date}
   and status_flag = '1'
</update> 

<!-- cancelOrRefund로 인한 vendor time update -->
<update id="timeUpdateDueToCancelOrRefund">
   update vendor_reservation set times=#{times} 
   where email=#{email} 
   and business_regi_num=#{business_regi_num} 
   and open_date=#{open_date}
</update> 




<!--=====↓↓↓↓↓↓↓↓↓↓↓↓↓======0813오규원===========-->

<select id="selectAllVendorsReservation" resultType="VendorReservationDto">
   select * from vendor_reservation 
   where email=#{email} 
   and business_regi_num=#{business_regi_num} 
   order by open_date
</select>

<update id="closeDay">
   update vendor_reservation set status_flag='0' 
   where email=#{email} 
   and business_regi_num=#{business_regi_num} 
   and open_date=#{open_date}
</update> 

<update id="openDay">
   update vendor_reservation set status_flag='1' 
   where email=#{email} 
   and business_regi_num=#{business_regi_num} 
   and open_date=#{open_date}
</update> 

<!-- 벤더 자기가 자기거 수정이라 status 상관x    
     0905   안전하게 status_flag 0 인거만 수정하게변경하도록
          and status_flag='0'  한줄 추가하고 
          status_flag도 다시 1로 되돌려줘야해서 관련내용 추가함 -->
<update id="openDateTimesUpdate">
   update vendor_reservation 
   set times=#{times}, 
       status_flag='1'
   where email=#{email} 
   and business_regi_num=#{business_regi_num} 
   and open_date=#{open_date}
   and status_flag='0'
</update> 

<!--=====↑↑↑↑↑↑↑↑↑↑↑↑↑======0813오규원===========-->

</mapper>