/* 기본 스타일 리셋 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 폰트 설정 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding-top: 60px; /* 헤더 높이만큼 padding 추가 */
}

/* 헤더 스타일 */
.header {
    background-color: #3C1E1E;
    color: #fff;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* 로고 */
.logo {
    font-size: 24px;
    color: #fff;
}

/* 네비게이션 메뉴 */
.nav {
    display: flex;
    margin-left: auto; /* nav를 오른쪽으로 밀어냄 */
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav ul li a:hover {
    color: #f0f0f0;
}

/* Hamburger Menu Styles */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 20px;
}

.menu-toggle .bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: 0.3s;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        flex-direction: column;
        align-items: center;
    }

    .nav.active {
        display: flex;
    }

    .nav ul {
        flex-direction: column;
        width: 100%;
    }

    .nav ul li {
        margin: 15px 0;
    }

    .menu-toggle {
        display: flex;
    }
}
